@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --LinearGradientMain: radial-gradient(
    circle,
    rgba(16, 16, 16, 0.514) 35%,
    rgb(0, 0, 0) 100%
  );
  --SectionMainBackgroundCololr:#141313;
  --SectionCardSoftSkill:#332E2E;
  --Item-img-1:url('./img/screencapture-dicionario-htnfjc0su-trona-vidro-vercel-app-2024-08-25-12_31_31\ 1.png');
  --Item-img-2:url('./img/screencapture-ide-photos-56nhjtwfj-marcos-gregs-vercel-app-2024-08-25-02_50_31\ 1.png');
  --Item-img-3:url('./img/screencapture-one-bit-x-web-vercel-app-2024-08-25-12_32_40\ 1.png');
  --Item-img-4: url('./img/Frame\ 2.png');
  --Linear-Gradiente-Thumb-Item-img:linear-gradient(180deg, rgba(255,248,248,0) 25%, rgba(16,16,16,0.7707457983193278) 77%);
  --Linear-Gradiente-Item-img: linear-gradient(90deg, rgba(16,16,16,0.927608543417367) 51%, rgba(255,248,248,0) 79%);
}
/* Fonts Config */
.andada-pro-title {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
}
.andada-pro-subtitle {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}
.andada-pro-paragraph {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

/* Component Header */
.component-header-port {
  width: 100%;
  height: 100vh;
  background: rgb(16, 16, 16);
  background: linear-gradient(
    90deg,
    rgba(3, 3, 3, 0.932) 22%,
    rgba(0, 0, 0, 1) 50%
  );
}

.header-port-nav {
  width: 100%;
  height: 20vh;
}
.nav-header-img {
  width: 20vw;
  height: 20vh;
  background-image: url("./img/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2%;
  padding-top: 2%;
}
.header-port-display {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-port-text {
  margin-left: 5%;
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.port-text-describe {
  height: 40%;
  margin-top: 20%;
}
.port-text-describe > p {
  font-size: 24px;
}
.port-text-describe > h1 {
  font-size: 32px;
}
.port-text-describe button{
  margin-top: 2%;
  width: 10vw;
  height: 5vh;
} 
.header-port-list-contact {
  display: flex;
  list-style: none;
}
.header-port-list-contact > li {
  width: 30%;
} 
.header-port-list-contact li h4{
  font-size: 18px;
}
.header-port-list-contact > li:nth-child(1) {
  border-right: solid 1px white;
}
.header-port-list-contact > li:nth-child(2) {
  padding-left: 2%;
  border-right: solid 1px white;
}
.header-port-list-contact > li:nth-child(3) {
  padding-left: 2%;
}
.header-port-img {
  width: 50%;
  height: 100%;
  background-image: url("./img/header-img-profile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Component Main */

.component-main-port{
    width: 100%;
    height:300vh;
}

/* End Main */

/* Section Main:About */
.main-port-about{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--SectionMainBackgroundCololr);
}
.main-port-about-image{
    background-image:var(--LinearGradientMain), url('./img/imagem-about.png');
    margin-left: 5%;
    margin-top: 5%;
    width: 30vw;
    height: 75%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-port-about-display{
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    width: 50%;
}
.about-display-top{
    height: 40%;
display: flex;
flex-direction: column;
row-gap: 5%;
border-bottom: solid 1px wheat;
}
.about-display-bottom{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  
}
.about-display-bottom-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2,60%);
  row-gap: 10%;
  padding-bottom: 2%;
}
.about-display-bottom li{
  display: flex;
  max-width: 65%;
}
.about-display-bottom li p:nth-child(1) {
  font-weight: bold;
}

.about-display-bottom li p:nth-child(2) {
margin-left: 2%;
}
.about-display-bottom button{
  max-width: 40%;
  height: 3vw;
}
/* End Section Main:About */

/* Section Main:Sotft Skill */
.main-port-softskill{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--SectionMainBackgroundCololr);
}
.main-port-softskill-text{
  display: flex;
  position: relative;
  font-size: 50px;
  font-family: "Train One", system-ui;
  font-weight: 400;
  color: #5db85527;
  margin-left: 5%;
}
.main-port-softskill-text-h1{
  top:40%;
  position: absolute;
  color: wheat;

}
.main-port-softskill-display-card{
  margin: 2% auto;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2,50%);
  row-gap: 2%;
  column-gap: 1%;
  
  
}
.softskill-card{
  
  background-color: var(--SectionCardSoftSkill);
  padding-top: 2%;
  padding-left: 5%;
}
.softskill-card h1{
  color: white;
  margin-bottom: 2%;
}
.softskill-card p {
  width: 90%;
  color: white;
  text-align: justify;
}

.softskill-card-icon-cube{
  margin-bottom: 1%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('./img/3dcube.png');
}

.softskill-card-icon-box{
  margin-bottom: 1%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('./img/box-2.png');
}

.softskill-card-icon-headset{
  margin-bottom: 1%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('./img/headphone.png');
}

.softskill-card-icon-html{
  margin-bottom: 1%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('./img/html-3.png');
}

/* End Section Main:Sotft Skill */

/* Section Main:Gallery */
.main-port-gallery{
    height: 100vh;
    background-color: var(--SectionMainBackgroundCololr);
}


.port-gallery-text{
  height: 8%;
  color: white;
 

  display: flex;
  position: absolute;
  font-size: 50px;
  font-family: "Train One", system-ui;
  font-weight: 400;
  color: #5db85527;
  padding-left: 5%;
  padding-top: 5%;
  z-index: 100;
}
.port-gallery-text-h1{
  color: white;
  top:140%;
  position: absolute;
  
}
/* carousel  */
.carousel{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.carousel  .list  .item{
  position: absolute;
  /* position left,top,bottom and right */
  inset: 0 0 0 0;
  
}
/* Item IMG */
.item-img-1{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: var(--Linear-Gradiente-Item-img),var(--Item-img-1);
  background-repeat: no-repeat;
  background-size: cover;
  }
.item-img-2{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: var(--Linear-Gradiente-Item-img),var(--Item-img-2);
  background-repeat: no-repeat;
  background-size: cover;
 
}
.item-img-3{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: var(--Linear-Gradiente-Item-img),var(--Item-img-3);
  background-repeat: no-repeat;
  background-size: cover;
 
}
.item-img-4{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--Linear-Gradiente-Item-img),var(--Item-img-4);
 
 
}
/* End Item img */

.carousel .list .item .content{
  position: absolute;

  width:100%;
  max-width: 70%;
  border-radius: var(--SectionMainBackgroundCololr);
  padding-right: 30%;
  color: #fff;
  text-shadow: 0 5px 10px #0004;

}
.carousel .list .item .content .author{
  font-weight: bold;
  letter-spacing: 2em;
}
.carousel .list .item .content .content-text{
  position: absolute;
  top: 30%;
  left: 7%;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic{
  max-width: 40%;
  font-weight: bold;
  letter-spacing: 1em;
  font-size: 32px;
}

.carousel .list .item .content .topic{
  color: #f1683a;
}
.carousel .list .item .content .des{
  width: 30rem;
  text-align: justify;
}
.carousel .list .item .content .buttons{
  display: grid;
  grid-template-columns: repeat(2,130px);
  grid-template-rows: 48px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .content button{
  border:none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.carousel .list .item .content button:nth-child(2){
  background-color: transparent;
  color: #eee;
  font-family: Poppins;
  border: 1px solid #eee;

}  
/*Thumbmail  */

.thumbmail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbmail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  
 

}
/* Thumb item img */
.thumbmail-item-img-1{
  border-radius: 20px;
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
 background-repeat: no-repeat;
  background-image: var(--Linear-Gradiente-Thumb-Item-img),var(--Item-img-1);
 
}
.thumbmail-item-img-2{
  border-radius: 20px;

  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--Linear-Gradiente-Thumb-Item-img),var(--Item-img-2);
 
}
.thumbmail-item-img-3{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--Linear-Gradiente-Thumb-Item-img),var(--Item-img-3);
 
}
.thumbmail-item-img-4{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--Linear-Gradiente-Thumb-Item-img),var(--Item-img-4);
 
 
}
/* End Item img */

.thumbmail .item .content{
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  
}
.thumbmail .item .content .title,.thumbmail .item .content .des{
  font-weight: bold;
  color: #e8dddd;
}



/* Arrows */

.arrows{
  position:absolute;
  top: 90%;
  right: 55%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items:  center;
}

.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  font-size: large;
  transition: .5s;
  cursor: pointer;
  z-index: 100;
}

.arrows button:hover{
  background-color: #eee;
  color: #555;
}
/* Starting effcts config */

.carousel .list .item:nth-child(1){
  z-index: 1;
}

.carousel .list .item:nth-child(1) .content-text .author,
.carousel .list .item:nth-child(1) .content-text .title,
.carousel .list .item:nth-child(1) .content-text .topic,
.carousel .list .item:nth-child(1) .content-text .des,
.carousel .list .item:nth-child(1) .content-text .buttons{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

/* Config blur */
@keyframes showContent{
  to{
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .content-text .title{
  animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .content-text .topic{
  animation-delay: 1.4s;
}

.carousel .list .item:nth-child(1) .content-text .des{
  animation-delay: 1.6s;
}

/* Effect next click */

.carousel.next .list .item:nth-child(1){
  width: 150px;
  height: 220px;
  position: absolute;
  
  left: 50%;
  bottom: 0%;
  border-radius: 20px;
  animation: showImage 1s linear 1 forwards;

}

@keyframes showImage {
  to{
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0;
  }
  
}

.carousel.next .thumbmail .item:nth-last-child(1) .content img{
  width: 0;
  overflow: hidden;
  animation: showThumbmail 1.5s linear forwards;

}
@keyframes showThumbmail {
  to{
      width: 150px;
  }    
}

.carousel.next .thumbmail{
  transform: translateX(150px);
  animation: transformThumbmail 1.5s linear 1 forwards;
}

@keyframes transformThumbmail {
  to{
      transform: translateX(0);
  }
}

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
  bottom:0;
  left: 0;
  animation: outImage 1s linear 1 forwards;
  
}

@keyframes outImage {
  to{
      width: 150px;
      height: 220px;
      border-radius: 20px;
      left: 100%;
      bottom: 100%;
  }
}

.carousel.prev .thumbmail .item:nth-child(1) .content{
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbmail 0.5s linear forwards;
}

.carousel.next .list .item:nth-child(2) .content-text .author,
.carousel.next .list .item:nth-child(2) .content-text .title,
.carousel.next .list .item:nth-child(2) .content-text .topic,
.carousel.next .list .item:nth-child(2) .content-text .des,
.carousel.next .list .item:nth-child(2) .content-text .buttons{
 
  animation: contentOut 1.5s 1s linear 1 forwards;
}

@keyframes contentOut {
  to{
      transform: translateX(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}




/* Time Config */
.time{
  width: 0%;
  height: 10px;
  background-color: #f1683a;
  position: absolute;
  z-index: 200;
  top: 10%;
  left: 0;
}

.carousel.next .time,
.carousel.prev .time{
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning{
  to{
      width: 0;
  }

}

/* End Section Main:Gallery */
